body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
}